<div class="jumbotron">
   <div class="container">
      <h1>Services</h1>
      <div id='break-bar'></div>
  </div>
</div>

<div class="container">
<div id='offerings'>
	<div id='all-cust'>
		<h2 class="services-header">For All Partners</h2>
		<ul class="services-list">
				<li>No Lock-In contract - You can leave at any time.
				24/7 partner support - Have a question, we’re here to help.. ALL the time!</li>
				<li>Talent Manager for ALL partners - You want to grow your brand and person, we’re here to help.</li>
				<li>$10 Payment threshold</li>
				<li>Audio Playlist. Access to 70,000+ songs!</li>
				<li>Business & Sponsorship Opportunities - Want to make extra money by working with big brands, we are here to make that happen.</li>
				<li>Partner Dashboard</li>
				<li>Video Monetization - The ability to make money from your channel.</li>
				<li>Assistance in Navigating Content ID, claims and strikes</li>
				<li>Subscriber Milestones as listed below</li>
				<li>Channel Audits - The ability for us (the experts) to give you tips & tricks to grow your channel.</li>
		</ul>
	</div>

	<div id='elite-cust'>
		<h2 class="services-header">Airtime Pro | $4.99 per month</h2>
		<ul class="services-list">
			<li>Skype call every other week(1 per month maybe?) to speak about channel growth and more!</li>
		</ul>
	</div>
	<div id='pro-cust'>
		<h2 class="services-header">Airtime Pro + | $19.99 per month</h2>
		<ul class="services-list">
			<li>Skype call every week to speak about channel growth and more!</li>
			<li>The ability to be flown out to all and any events that have to do with your channel genre.(no airfare but event passes)</li>
			<li>Exclusive strategy sessions</li>
		</ul>
	</div>
</div>
</div>