<!--begin bg-carousel-->
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
        <div class="item">
            <div class="slide2"></div>
        </div>
        <div class="item">
            <div class="slide3"></div>
        </div>
    </div><!-- .carousel-inner -->
    <div class="container carousel-overlay">
        <h1>What is <br>
            Airtime MG</h1>
        <a class="btn btn-lg btn-success fp-buttons" id="btn-talents" href="/ourtalents">
            Our Talents
        </a>
    </div>
</div><!-- .carousel -->
<!--end bg-carousel-->


 <!-- Core JavaScript -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
<!-- Description -->

<div class="container">
    <h6 class="description-text">Airtime Media Group is a YouTube network founded on principals that revolve around the content creators.  Our main focus is to help our partners gain exposure and viewership along with business and marketing deals.</h6>
</div>

<hr>

<!-- Team Section -->
<div class="container">
    <h3 class="team-title">Our Dynamic Team</h3>
    <h4 class="team-caption">Experts in their designated fields</h4>
</div>


<div class="container">
    <div class="team">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team_member">
                    <%= image_tag("alex.png", class: 'team_img') %>
                </div>
                <div class="name-label">
                    <h3>Placeholder</h3>
                    <p class="text-muted">The Blank Blank</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team_member">
                    <%= image_tag("mike.png", class: 'team_img') %>
                </div>
                <div class="name-label">
                    <h3>Mike Perla</h3>
                    <p class="text-muted">The Blank Blank</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team_member">
                    <%= image_tag("alex.png", class: 'team_img') %>
                </div>
                  <div class="name-label">
                    <h3>Alex Perla</h3>
                    <p class="text-muted">The Blank Blank</p>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Core JavaScript -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>