
    <header>
        <div class="header-content">
            <div class="header-content-inner">
				<h1>What is Airtime Mg?</h1>
				<a href="/ourtalents" class="btn btn-primary btn-xl page-scroll">Talents</a>
			</div>
		</div>
	</header>
<!-- This will carry twitter youtube facebook icons -->
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h6>TW YOU FB</h6> 
            </div>
        </div>
        <h6 style="text-align: center;">Copyright &copy; AirtimeMg 2015</h6>
    </aside>
  </body>
 </html>
