    <header>
        <div class="header-content">
            <div class="header-content-inner">
				<h1>What is Airtime Mg?</h1>
				<h4>description here</h4>
				<a href="/ourtalents" class="btn btn-primary btn-xl page-scroll"style="float: right;margin-top:175px;display: inline-block;color: white;font-weight: 400;border: 1px solid #C9C9C9;border-radius: 40px;cursor: pointer;text-decoration: none;  background-color: #BA6028 !important;;margin-top:35%;background-image: none !important;">Our Talents</a>
			</div>
		</div>
	</header>
  </body>
 </html>
