<header>
     <div class="header-content">
         <div class="header-content-inner">
             <h1 id='welcome'>We Help You Grow</h1>
             <hr>
             <div class="row">
                 <div id='airtime-header'class="col-lg-8 col-lg-offset-2 text-center">
                     <p class="large text-muted">Here at Airtime we know what it takes to grow your channel. By partnering with us you will be aided by our certified partner managers who will offer their expertise to cater to your channel’s needs.  You will also have the ability to request channel audits to identify where your channel needs improvement. If you have an idea or are looking for input on a project, don’t hesitate to reach out to the creator community where you can find others just like yourself.</p>
                 </div>
             </div>
             <a href="/ourtalents" id='talents'class="btn btn-primary btn-xl page-scroll" style="float:right; display: inline-block;color: white;font-weight: 400;border: 5px solid #C9C9C9;border-radius: 40px;cursor: pointer;text-decoration: none;margin-top:27%;background-color: rgba(128, 128, 128, 0.31);background-image: none !important;  padding: 14px 25px;">Our Talents</a>
         </div>
     </div>
 </header>


    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Our Dynamic Team</h3>
                    <h4 class="team-caption">Experts in their designated fields</h4>
                </div>
            </div>

                <div class="col-md-3">
                    <div class="team-member">
                        <%= image_tag("tyler.jpg") %>
                        <h3>Blank Name</h3>
                        <p class="text-muted">The Blank Blank</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="team-member">
                        <%= image_tag("mike.jpg") %>
                        <h3>Mike Perla</h3>
                        <p class="text-muted">The Blank Blank</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="team-member">
                        <%= image_tag("alex.jpg") %>
                        <h4>Alex Perla</h4>
                        <p class="text-muted">The Blank Blank</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</script>