<!--begin bg-carousel-->
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
        <div class="item">
            <div class="slide2"></div>
        </div>
        <div class="item">
            <div class="slide3"></div>
        </div>
    </div><!-- .carousel-inner -->
    <div class="container carousel-overlay">
        <h1>Growth</h1>
        <a class="btn btn-lg btn-success fp-buttons" id="btn-talents" href="/ourtalents">
            Our Talents
        </a>
    </div>
    <div id='break-bar'></div>
</div><!-- .carousel -->
<!--end bg-carousel-->

 <!-- Core JavaScript -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
<!-- Description -->

<div class="container" style="
    background-color: rgba(127, 94, 32, 0.13);
    width: 100%">
    <h6 class="growth-text">Here at Airtime we know what it takes to grow your channel. By partnering with us you will be aided by our certified partner managers who will offer their expertise to cater to your channel’s needs.  You will also have the ability to request channel audits to identify where your channel needs improvement. If you have an idea or are looking for input on a project, don’t hesitate to reach out to the creator community where you can find others just like yourself.</h6>
</div>