<!--begin bg-carousel-->
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
        <div class="item">
            <div class="slide2"></div>
        </div>
        <div class="item">
            <div class="slide3"></div>
        </div>
    </div><!-- .carousel-inner -->
    <div class="container carousel-overlay">
        <h1>Welcome to Airtime Media Group.</h1>
        <a class="btn btn-lg btn-success fp-buttons" id="btn-apply" href="/apply">
            Apply
        </a>
        <a class="btn btn-lg btn-success fp-buttons" id="btn-compare" href="/compare">
            Compare
        </a>
        <a class="btn btn-lg btn-success fp-buttons" id="btn-talents" href="/ourtalents">
            Our Talents
        </a>
    </div>
</div><!-- .carousel -->
<!--end bg-carousel-->


 <!-- Core JavaScript -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
