   <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id='welcome'>Welcome to Airtime Media Group.</h1>
                <hr>
                <a href="/apply" class="btn btn-primary btn-xl page-scroll"style="display: inline-block;color: white;font-weight: 400;border: 1px solid #C9C9C9;border-radius: 40px;cursor: pointer;text-decoration: none;  background-color: #BA6028 !important;float: left;margin-top:35%;background-image: none !important;">Apply</a>
                <a href="/compare" class="btn btn-primary btn-xl page-scroll"style="float: left;margin-top:175px;display: inline-block;color: white;font-weight: 400;border: 1px solid #C9C9C9;border-radius: 40px;cursor: pointer;text-decoration: none;background-color: #BA6028 !important;float: left;margin-top:35%;background-image: none !important;">Compare</a>
                <a href="/ourtalents" class="btn btn-primary btn-xl page-scroll"style="float: right;margin-top:175px;display: inline-block;color: white;font-weight: 400;border: 1px solid #C9C9C9;border-radius: 40px;cursor: pointer;text-decoration: none;margin-top:35%;background-color: #BA6028 !important;background-image: none !important;">Our Talents</a>
            </div>
        </div>
    </header>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
