   <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Welcome to Airtime media.</h1>
                <hr>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Apply</a>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Compare</a>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Our Talents</a>
            </div>
        </div>
    </header>

    

   
<!-- This will carry twitter youtube facebook icons -->
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h6>TW YOU FB</h6> 
            </div>
        </div>
        <h6 style="text-align: center;">Copyright &copy; AirtimeMg 2015</h6>
    </aside>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
