   <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Welcome to Airtime Media Group.</h1>
                <hr>
                <a href="/apply" class="btn btn-primary btn-xl page-scroll"style="float: left;margin-top:175px;">Apply</a>
                <a href="/compare" class="btn btn-primary btn-xl page-scroll"style="float: left;margin-top:175px;">Compare</a>
                <a href="/ourtalents" class="btn btn-primary btn-xl page-scroll"style="float: right;margin-top:175px;">Our Talents</a>
            </div>
        </div>
    </header>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
