
    <div class="row">

      <div class="large-4 small-12 columns">

        <img src="front1.png">

        <div class="hide-for-small panel">
          <h3>Airtime Media Group</h3>
          <h5 class="subheader">Consistent Upload Schedule
High Audio & Video Quality
Great Commentary Content
1500+ distributed views per month
Consistent Viewer Interaction (views & comments)
          </h5>
        </div>
      </div>

  
      <div class="large-8 columns">
        <div class="row">

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/1000x1000&text=Thumbnail">

            <div class="panel">
              <h5>User Name</h5>
              <h6 class="subheader">Subscribers</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>User Name</h5>
              <h6 class="subheader">subscribers</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>User Name</h5>
              <h6 class="subheader">subscribers</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>User Name</h5>
              <h6 class="subheader">subscribers</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>User Name</h5>
              <h6 class="subheader">subscribers</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>User Name</h5>
              <h6 class="subheader">subscribers</h6>
            </div>
          </div>
        </div>

   


   
        <div class="row">
          <div class="large-12 columns">
            <div class="panel">
              <div class="row">

                <div class="large-2 small-6 columns">
                  <img src="front2.png">
                </div>

                <div class="large-10 small-6 columns">
                  <strong>This Site Is Managed By<hr/></strong>
                  Airtime Media Group
                    -Dedicated to delivering the highest quality service. To the most elite members of the streaming community.
                </div>

              </div>
            </div>
          </div>

   

        </div>
      </div>
    </div>


   

  </div>
</div>
