<div class="jumbotron">
   <div class="container">
      <h1>Apply Now</h1>
      <div id='break-bar'></div>
      <h5>Our onboarding team will reply to your application within 24 hours. The following factors are strongly taken into consideration: </h5>
      	<ul id='apply-list'>
      		<li>Consistent Upload Schedule</li>
      		<li>High Audio & Video Quality</li>
      		<li>Great Commentary Content</li>
      		<li>1500+ distributed views per month</li>
      		<li>Consistent Viewer Interaction (views & comments)</li>
      	</ul>
   </div>
</div>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<div class="testbox">
  <h1>Registration</h1>
  <form   action="mailto:kevalwell@gmail.com"
  method="POST"
  enctype="multipart/form-data"
  name="EmailTestForm">
  <label id="icon" for="name"><i class="icon-envelope "></i></label>
  <input type="text" name="name" id="name" placeholder="Name" required/>
  <label id="icon" for="name"><i class="icon-user"></i></label>
  <input type="text" name="email" id="name" placeholder="Email" required/>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="text" name="url" id="name" placeholder="youtube-url" required/>
   <ul>
   <div class="accounttype">
     <input type="radio" value="Affiliated" id="radioOne" name="account" checked/>
    <li> <label for="remember" class="pure-checkbox">
         <input id="remember" type="checkbox"> Already Affiliated
     </label></li>
     <input type="radio" value="None" id="radioTwo" name="account" />
     <li><label for="remember" class="pure-checkbox">
         <input id="remember" type="checkbox"> Not yet Affiliated
     </label></li>
   </div>
   </ul>
   <hr>
   <p>By clicking Apply, you agree to our <a href="#">terms and condition</a>.</p>
   <input type='submit' class="button" value="Apply">
  </form>
</div>
