#globe img {
  padding-top: 5px !important;
}

#welcome-mg {
  font-size: 120px;
  line-height: 100px;
  font-weight: 700;
  letter-spacing: -5px;
  color: #ffffff;
  text-align: left;
}

.slide1, .slide2, .slide3 {
    min-height: 560px;
    background-size: cover;
    background-position: center center;
}
.slide1 {
    background-image: url("front1.png");
}
.slide2 {
    background-image: url("front2.png");
}
.slide3 {
    background-image: url("front3.png");
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: .5;
}
.carousel.carousel-fade .active.item {
    opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel-overlay {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
}

.carousel-overlay h1 {
  font-size: 120px;
  line-height: 100px;
  font-weight: 700;
  letter-spacing: -5px;
  color: #ffffff;
  text-align: left;
}

#btn-apply {
  background: #BA6028 !important;
  border: 1px solid #C9C9C9;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  font-weight: 400;
}

#btn-compare {
  background: #BA6028 !important;
  border: 1px solid #C9C9C9;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
}

#btn-talents {
  background: #BA6028 !important;
  color: white !important;
  float: right;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  border: 5px solid #C9C9C9;
}

.description-text {
  font-size: 30px;
  text-align: center;
  margin: 5% !important;
}

hr {
    color: 5px solid black;
}


.team-title {
  font-size: 40px;
  text-align: center;
}

.team-caption {
  font-size: 20px;
  text-align: center;
}

.team {
  text-align: center
  width: 500px;
  height: auto;
  padding: 3px;
  display: table;
  margin: auto;
}

.team_member {
  height: 150px !important;
  width: 180px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.team_img {
  height: 100% !important;
  width: 100% !important;
  border-radius: 30px;
  border: 5px solid #232838;
}

.name-label {
  text-align: center !important;
}

.services-header {
  font-weight: bolder;

}

.services-list {
  font-size: 14px;
}

.apply {
  text-align: center;
  font-family: 'Open Sans',sans-serif,Arial;
}

#apply-list {
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans',sans-serif,Arial;
}

.jumbotron h1 {
  font-family: 'Open Sans',sans-serif,Arial;
  font-size: 40px;
}

.testbox {
  font-family: 'Open Sans',sans-serif,Arial;
}

.testbox h5 {
  text-align: center;
  padding-top: 5px;
}

#remember {
  margin-left: 10px;
  margin-right: 20px;
}

#apply-btn {
  margin-left: 37% !important;
  font-family: 'Open Sans',sans-serif,Arial;
  font-size: 12px;
  border-radius: 20px;
  border: 5px solid #C9C9C9;
}